<%- include ("_header.ejs"); %>
<h1 style="color: darkred;">We Are Closed</h1>
<h2 style="color:green;">We are availble from "Monday" to "Friday", 9h - 17h</h2>
<h3 style="margin-left:50%;">Thank you</h3>